<?xml version="1.0" encoding="GB2312"?>     
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">     
     
<beans>     
	
	<bean id="catalogItemDao" class="com.liusy.cms.dao.impl.CatalogItemDaoImpl" autowire="byName" />  
	<bean id="catalogDao" class="com.liusy.cms.dao.impl.CatalogDaoImpl" autowire="byName" />  
	
	
	<bean id="catalogItemService" parent="txProxyTemplate"> 
		<property name="target"> 
			<bean class="com.liusy.cms.service.impl.CatalogItemServiceImpl" autowire="byName" /> 
		</property> 
	</bean> 
	<bean id="catalogService" parent="txProxyTemplate"> 
		<property name="target"> 
			<bean class="com.liusy.cms.service.impl.CatalogServiceImpl" autowire="byName" /> 
		</property> 
	</bean> 
	
	
   
	   
</beans> 