/messages.properties
/messages_de.properties
/messages_es.properties
/messages_fr.properties
/messages_it.properties
/messages_ja.properties
/messages_pt_BR.properties
/messages_tr.properties
/messages_zh_CN.properties
/org
